.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.button--color {
  background-color: $bg-base-green;
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--hero {
  padding: 10px 0;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    width: 250px;
    position: absolute;
    top: 230px;
    padding: 14px 0;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.type-programs__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    cursor: pointer;
    position: absolute;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-repeat: no-repeat;
    background-color: #000000;
    mask-size: 32px 10px;
    width: 32px;
    height: 10px;
    top: 7px;
    left: 98px;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 126px;
    }
  }

  &:hover {
    &::after {
      mask-image: url("../../icons/stack.svg#arrow-big");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      mask-image: url("../../icons/stack.svg#arrow-big");
    }
  }
}

.button--more {
  color: $base-color-text;
  background-color: #f2f2f2;
  width: 100%;
  display: block;

  &:hover,
  &:active {
    background-color: #ebebeb;
  }
}

.button--subscription {
  font-size: 20px;
  line-height: 26px;
  border: none;
  display: inline;
}

.example__button {
  cursor: pointer;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(50% - 2px);

  &::before {
    content: "";
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    background-color: #666666;
    width: 24px;
    height: 18px;
    position: absolute;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#arrow-slider");
    mask-position: 50%;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: #68b738;

    &::after {
      background-color: #68b738;
    }

    &::before {
      border-color: #68b738;
    }
  }

  &:active {
    background-color: #5eaa2f;

    &::after {
      background-color: #5eaa2f;
    }

    &::before {
      border-color: #5eaa2f;
    }
  }
}

.main-header__toggle {
  background-image: url("../../icons/stack.svg#menu-burger");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--close {
  background-image: url("../../icons/stack.svg#menu-close");
}
