.catalog {

}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__product {

}

.catalog__list {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 63px;
  }
}

.catalog__item {
  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__link {
  text-decoration: none;
  max-width: 50%;
}

.catalog__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  display: block;
  width: 100%;
  text-align: center;
}

.catalog__subtitle--more {
  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#plus-mobile");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
  }
}

.catalog__information {
  @media (max-width: 767px) {
    max-width: 50%;
  }
}

.catalog__information-item {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.catalog__item--more {

}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
}
