.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts--color {
  background-color: #f2f2f2;
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $desktop-width) {
    max-width: 165px;
  }
}

.contacts__wrapper {

}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {

}
