.example {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    border-top: 1px solid #d9d9d9;
    background: linear-gradient(to top, #f2f2f2 42.7%, #ffffff 30%);
  }

  @media (min-width: $desktop-width) {
    border: none;
    background: none;
    margin-top: 69px;
  }
}

.example__background {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.example__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  max-width: 365px;
}

.example__item {
  max-width: 124px;
  width: 100%;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.example__item-wrapper {
  max-width: 105px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background-color: #ffffff;
  }
}

.example__result {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.example__subtitle {
  line-height: 1;
  margin: 8px 0 0;
}

.example__expenses {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    max-width: 327px;
    justify-content: space-between;
  }
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__slider-comparison {
  position: relative;
  display: flex;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -135px;
  }
}

.example__wrap {
  width: 50%;
}

.example__image {
  width: 100%;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 512px;
  }
}

.example__image--before {
  object-position: left;
}

.example__image--after {
  object-position: right;
}
