.example {

}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__background {

}

.example__text {

}

.example__list {
  list-style-type: none;
}

.example__item {

}

.example__result {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__subtitle {

}

.example__expenses {

}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__slider-comparison {
  position: relative;
}

.example__before {

}
