.example {

}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__background {

}

.example__text {

}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.example__list {
  list-style-type: none;
  display: flex;
}

.example__item {

}

.example__result {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__subtitle {

}

.example__expenses {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__slider-comparison {
  position: relative;
}

.example__before {

}
