.hero {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    height: 700px;
  }
}

.hero__image {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 18px;
    left: 200px;
  }
}

.hero__titile {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: $bg-base-green;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    background-color: #ffffff;
    width: 416px;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $bg-base-green;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
  }
}
