.instruction {

}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.instruction__list {
  list-style-type: none;
}

.instruction__item {

}

.instruction__item--leaf {

}

.instruction__item--powder {

}

.instruction__item--eat {

}

.instruction__item--clock {

}

.instruction__text {

}
