.instruction {

}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.instruction__list {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.instruction__item {
  position: relative;
}

.instruction__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  display: block;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.instruction__item--leaf {
  position: relative;
}

.instruction__item--leaf::before {
  position: absolute;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
  background-size: 30px 32px;
  background-position: center;
}

.instruction__item--powder {
  position: relative;
}

.instruction__item--powder::before {
  position: absolute;
  background-image: url("../../icons/stack.svg#icon-powder");
  background-repeat: no-repeat;
  background-size: 25.98px 28.51px;
  background-position: center;
}

.instruction__item--eat {
  position: relative;
}

.instruction__item--eat::before {
  position: absolute;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  background-position: center;
}

.instruction__item--clock {
  position: relative;
}

.instruction__item--clock::before {
  position: absolute;
  background-image: url("../../icons/stack.svg#icon-clock");
  background-repeat: no-repeat;
  background-size: 26.09px 31px;
  background-position: center;
}

.instruction__text {

}
