.main-nav {

}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#menu-burger");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#menu-close");
}

.main-nav__list {
  list-style-type: none;
}

.main-nav__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__item--current {

}

.main-nav__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    border-bottom: 2px solid #68b738;
  }
}
