.main-nav {

}

.main-nav__toggle {

}

.main-nav__list {
  list-style-type: none;
}

.main-nav__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__item--current {

}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}
