.main-header {
  color: #000000;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-header--image {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.main-header__logo {
  text-decoration: none;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
