.main-nav {
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__item--current {

}

.main-nav__link {
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0 18px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    border-bottom: 2px solid #68b738;
  }
}
