.subscription {

}

.subscription__wrapper {

}

.subscription__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscription__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}


.subscription__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
  }
}

.subscription__field {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}
